html, body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.header {
    display: flex;
    width: 100%;
    background-color:#43751A;
    position: sticky;
    z-index: 1000;
    justify-content: center;
    min-height: 80px;
    align-items: center;
    top: 0;
}

h1 {
    margin: 0;
    color: #E1D95D;
    font-family: "Courier New", Courier, monospace;
    text-shadow: 1px 1px 3px #A8A45E,
                    -1px -1px 3px #928C1E;
}

.footer {
    width: 100%;
    background-color:#43751A;
    min-height: 50px;
    display: flex;
}

.footer h3 {
    color: #E1D95D;
    font-family: "Courier New", Courier, monospace;
    margin-left: 40px;
}

.body {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 40px 80px 40px 80px;

}

.root {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #F0EBA2;
}